# Personal portfolio public access API token
GITHUB_API_TOKEN=

NEXT_PUBLIC_SHOW_PROFILE=1
NEXT_PUBLIC_SHOW_OVERVIEW=1
NEXT_PUBLIC_SHOW_CAREER_OBJECTIVE=1
NEXT_PUBLIC_SHOW_RESUME=1
NEXT_PUBLIC_SHOW_ABOUT=1
NEXT_PUBLIC_SHOW_EXPERIENCES=1
NEXT_PUBLIC_SHOW_PROJECTS=1
NEXT_PUBLIC_SHOW_BLOGS=1
NEXT_PUBLIC_SHOW_ACHIEVEMENTS=1
NEXT_PUBLIC_SHOW_TESTIMONIALS=1
NEXT_PUBLIC_SHOW_CONTACT=1

NEXT_PUBLIC_BASE_APP_URL=http://localhost:3000